body {
    /*
    padding-top: 50px;
    padding-bottom: 20px;
    */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*
    padding-left: 15px;
    padding-right: 15px;
    */
}

.body-content 

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 320px;
}


.form-control {
    margin-left: 3em;
    width: 80%;
}

.input-validation-error {
    border: dotted 1px red;
}

.valid {
    border: dotted 1px green;
}

/* Padding removed from the logotype*/
.navbar-brand {
    padding: 0;
}

/* Navbar background color according to Lexicon*/
.navbar-default {
    background-color: RGB(21, 40, 68);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: RGB(21, 40, 68);
    color: white;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    /* //TM 2018-03-22 16:30 Efter bortkommentering av denna padding så försvann den sista onödiga vita remsan mellan meny och bild i /Home/Index :-) */
    /* //TM 2018-03-22 17:02 Men: översta BS-tabellens <h2>-rubrik försvann likaså i alla vyer :-( - bortkommentering togs bort. */
    padding: 60px 15px 0;
}



.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* //TM 2018-03-19 12:19 Alla btn-knappar i en tabell ska visas i en ljusgrå nyans */
.btn,
.table tbody tr.btn {
    color: #e7e7e7;
    border-color: #e7e7e7;
    background-color: #303030;
    opacity: 0.3;
}

/*  //TM 2018-03-19 11:38 Alla btn-knappar i en tabell ska visas i mörkare grått när musen hamnar ovanför tabellraden */
.table tbody tr:hover .btn {
    opacity: 0.6;
}

.table .activity-listing .btn {
    opacity: 0;
}

.table .activity-listing a.listing {
    text-decoration: none;
    color: black;
}

.table .activity-listing a.listing:hover {
    text-decoration: none;
    text-shadow: 1px 1px black;
}

.table .activity-listing:hover .btn {
    opacity: 1;
}

.listing-icon {
   padding: 3px;
   margin-right:5px;
   float:right;
}

/* //TM 2018-03-19 11:38 Alla btn-knappar lyser färgglatt upp när musen hamnar ovanför dem */
.table tbody tr .btn:hover,
.btn:hover {
    opacity: 1;
}

/* //TM 2018-03-18 12:25 Tabellrubrikrader blir Lexiconfärgsatta */
.table tbody tr:first-of-type th,
.table thead tr:first-of-type th {
    background-color: RGB(21, 40, 68); /*Lexicon-mörkblå*/
    color: white;
}

/* //TM 2018-03-19 08:48 Tabellraders bakgrund lyser upp i ljusgul när musen hamnar ovanför dem */
.table tbody tr:hover td {
    background-color: rgb(249, 255, 192);
}


/* //TM 2018-03-20 11:38 Modifiera klassen 'text-success' som används för bekräftelser till användaren om genomförda ändringar */
.text-success {
    color: lightyellow;
    background-color: lightgreen;
    font-size: x-large;
    font-weight: bold;
}

/* //TM 2018-03-22 11:33 Se till att långa texter förkortas och visas med ... */
.table-striped tbody tr td {
    width: 100px;
    max-width: 150px;
    white-space: nowrap;
    /*background-color: deeppink;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg {
    /* The image used */
    /*background-image: url("/Content/HeJaRiTo-bakgrund.png");*/
    /* Full height */
    height: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}