@{
    ViewBag.Title = "Om HEJARITO";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<h2>Om HEJARITO</h2>

<br />

<p style="font-size: 20px">HEJARITO är en lärplattform (eng: LMS, Learning Management System) för Lexicons lärare och elever. Applikationen har som främsta uppgift och mål att enkelt tillgängliggöra kursmaterial och schema för elever. Det fungerar även som en samlingsplats för inlämningsuppgifter.</p>

<p style="font-size: 20px">HEJARITO har en back-end byggd med C#.NET och MVC 5. Databasen är byggd med hjälp av Entity Framework enligt ​code first-metoden​. Front-end använder Bootstrap 3 och dynamisk funktionalitet är realiserad med javascript och javascriptramverket jQuery.</p>