@* //TM 2018-03-13 14:16 *@
@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Årstaängsvägen 9, 4tr<br />
    SE-117 43 STOCKHOLM<br />
    Tel.: +46-76-543 21 00
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@hejarito.se">Support@hejarito.se</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@hejarito.se">Marketing@hejarito.se</a>
</address>