@{
    ViewBag.Title = "Home Page";
}
@* //TM 2018-03-23 13:55 Eget innehåll isf. default *@

<div class="container-fluid">
    @* //TM 2018-03-22 15:57 Visa bakgrundsbilden *@
    @* //TM 2018-03-22 14:14 Detta var defaultlayouten
        <div class="jumbotron">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    *@
</div>

<!-- //TM 2018-03-23-13:56
    <div class="row">
        <div class="col-lg-4">
            <h4>Vad gör vi?</h4>
            <p>Vi gör allt mellan himmel och jord. Bara det handlar om webbutveckling.</p>
            <p><a class="btn btn-primary">Läs mer &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h4>Var finns vi?</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16290.16163935208!2d18.014249151635543!3d59.31174488915661!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f77c7003371d9%3A0xb5391fbee7ab86a4!2zw4Vyc3Rhw6RuZ3N2w6RnZW4gOSwgMTE3IDQzIFN0b2NraG9sbQ!5e0!3m2!1ssv!2sse!4v1521798799417" width="330" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        @* //TM 2018-03-23 10:42 Ansiktena ska komma sist *@
        <div class="col-lg-4">
            <h4>Vilka är vi?</h4>
            <p class="col-xs-3"><img src="https://4.bp.blogspot.com/--NB0sqDP5nU/WKIzeDbN5mI/AAAAAAAAUZU/soC7PStTq-cJiag4eBwdjaYM_5Fwd4NvgCLcB/s1600/driving-emoji.gif" class="img-responsive" /></p>
            <p class="col-xs-3"><img src="https://3.bp.blogspot.com/-NInXu5Ot7mQ/WKIzZzSOa2I/AAAAAAAAUZE/lePjcAp5KdIWkBE8Ren1ARxmXgFn1iRiwCLcB/s1600/cash-gif-emoji.gif" class="img-responsive" /></p>
            <p class="col-xs-3"><img src="https://3.bp.blogspot.com/-cQ2fwvZ0nNE/WKIxfJ_yE-I/AAAAAAAAUYk/xYN4JD9any0CUoP3phUZS8EbOSHfwWbpgCLcB/s1600/thumbs-up-animated-emoji.gif" class="img-responsive" /></p>
            <p class="col-xs-3"><img src="https://2.bp.blogspot.com/-2iaUCm5wZD4/WKIzddY18hI/AAAAAAAAUZQ/DZ7_DKCKLm4qalU7YQln0a8w2MZmZSOwACLcB/s1600/clapping-emoji.gif" class="img-responsive" /></p>
            <p><a class="btn btn-primary">Läs mer &raquo;</a></p>
        </div>
    </div>
    -->
