@{
    ViewBag.Title = "Home Page";
}
<div>

    @* //TM 2018-03-22 15:57 Visa bakgrundsbilden *@
    @* //TM 2018-03-22 14:14 Detta var defaultlayouten
        <div class="jumbotron">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    *@

    <img src="~/Content/HeJaRiTo-bakgrund.png" class="img-responsive"/>
</div>

<div class="row">
    @* //TM 2018-03-22 14:14 Eget innehåll isf. default *@
    <div class="col-md-4">
        <h2>Vad gör vi?</h2>
        <p>Vi gör allt mellan himmel och jord. Bara det handlar om webbutveckling.</p>
        <p><a class="btn btn-primary">Läs mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vilka är vi?</h2>
        <p class="col-md-3"><img src="https://4.bp.blogspot.com/--NB0sqDP5nU/WKIzeDbN5mI/AAAAAAAAUZU/soC7PStTq-cJiag4eBwdjaYM_5Fwd4NvgCLcB/s1600/driving-emoji.gif" class="img-responsive" /></p>
        <p class="col-md-3"><img src="https://3.bp.blogspot.com/-NInXu5Ot7mQ/WKIzZzSOa2I/AAAAAAAAUZE/lePjcAp5KdIWkBE8Ren1ARxmXgFn1iRiwCLcB/s1600/cash-gif-emoji.gif" class="img-responsive" /></p>
        <p class="col-md-3"><img src="https://3.bp.blogspot.com/-cQ2fwvZ0nNE/WKIxfJ_yE-I/AAAAAAAAUYk/xYN4JD9any0CUoP3phUZS8EbOSHfwWbpgCLcB/s1600/thumbs-up-animated-emoji.gif" class="img-responsive" /></p>
        <p class="col-md-3"><img src="https://2.bp.blogspot.com/-2iaUCm5wZD4/WKIzddY18hI/AAAAAAAAUZQ/DZ7_DKCKLm4qalU7YQln0a8w2MZmZSOwACLcB/s1600/clapping-emoji.gif" class="img-responsive" /></p>
        <p><a class="btn btn-primary">Läs mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Var finns vi?</h2>
        <div id="HeJaRiTo" style="width:320px;height:180px;background-color:lightyellow"></div>
        <script>
            function myMap() {
                var mapOptions = {
                    center: new google.maps.LatLng(51.5, -0.12),
                    zoom: 10,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                }
                var map = new google.maps.Map(document.getElementById("HeJaRiTo"), mapOptions);
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjYwkohFEjMp0ZmxbhDDI78EaNfNm8sDM=myMap"></script>
        <p><a class="btn btn-primary">Läs mer &raquo;</a></p>
    </div>
</div>
