@model HEJARITO.Models.StudentViewModel
@{
    ViewBag.Title = "Student";
}

<h3>Elev</h3>

<h2>Kurser</h2>

@foreach (var item in Model.Courses)
{
    @Html.DisplayFor(modelItem => item.Name)
    @Html.DisplayFor(modelItem => item.StartDate)
}


