
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">@ViewContext.RouteData.Values["controller"]</a></li>
        <li class="breadcrumb-item"><a href="#">@ViewContext.RouteData.Values["action"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewContext.RouteData.Values["id"]</li>
    </ol>
</nav>