@model ICollection<HEJARITO.Models.ApplicationUser>

<table class="table table-striped table-bordered" id="studentstable" cellspacing="0">
    <thead>
        <tr>
            <th>Studenter</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody class="slist" id="CourseStudentList">
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @student.FirstName @student.LastName
                </td>
                <td>
                    @student.Email
                </td>
            </tr>
        }


    </tbody>
</table>