@model HEJARITO.Models.CourseEditor
<br />
@if (User.IsInRole("Teacher"))
{
    <details>
        <summary>Registrera ny elev</summary>
        <span id="divCreateCourseStudent">
            @{ Html.RenderPartial("_CreateCourseStudent", Model); }
        </span>
    </details>

    <div id="">
        @{ Html.RenderPartial("_CourseStudents", Model.Course.ApplicationUsers); }
    </div>
}